body{
    padding: 500px;
    background-color: rgb(85, 87, 87);
}

h3{
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub-text{
    color: white;
    margin-top: 0;
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon{
    position: absolute;
    color: rgb(102, 97, 97);
    right: 13px;
    top: 7px;
}

.sign-layout{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px;
    border-radius: 7px;
    background-color: rgb(66, 70, 70);
    box-shadow: 4px 5px 9px rgb(49, 47, 47);
    height: min-content;
    width: min-content;
    padding: 25px;
    justify-content: center;
}

.first-name{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.last-name{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.email{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.password-box{
    position: relative;
}

.password{
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.con-password-box{
    position: relative;
}

.con-password{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border: none;
}

.signup-btn{
    display: block;
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(37, 39, 39);
    color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-btn:hover{
    opacity: 0.7;
}

.question-text{
    color: white;
}

.linked-text{
    text-decoration: underline;
    color: rgb(95, 95, 204);
    font-weight: 900;
}

.linked-text:hover{
    cursor: pointer;
}

.linked.text:active{
    cursor: progress;

}